.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

.color_pikcer_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color_pikcer_bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 500px;
  height: 500px;
  background-color: transparent;
  border: none;
}

/* google chrome */
.color_pikcer_bar::-webkit-color-swatch {
  border: 4px solid black;
  border-radius: 100px !important;
}

/* firefox */
.color_pikcer_bar::-moz-color-swatch {
  border: 4px solid black;
  border-radius: 15px !important;
}
